{% extends 'base.html' %}
{% load static %}
{% block content %}



<!--
      Header start 
      ============================== -->
      <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="/">
                                        <img src="/static/images/logo.png" alt="Logo">
                                    </a>
    
                                </div>
    
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="{% url 'hood' %}">Hoods</a></li>
                                        {% if user.profile.neighbourhood %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">My Hood</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                                <li><a href="{% url 'single-hood' user.profile.neighbourhood.id %}">{{user.profile.neighbourhood.name}}</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">My Hood</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                                <li><a href="">No Hood Yet</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                        <!-- <li><a href="#footer">Contact</a></li> -->
                                        {% if user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">{{user.username|title}}</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                                <li><a href="{% url 'profile' user.username %}">Profile</a></li>
                                                <li><a href="{% url 'edit-profile' user.username %}">Edit Profile</a></li>
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        <li><img style="width: 30;height: 30px;" class="img-circle"
                                                src="{{ user.profile.profile_picture.url }}" alt="">
                                        </li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}">Log In</a></li>
                                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->

<section id="bleek" style="margin-top:-14px;">
    <div class="container">
        <div style="z-index: 1000;position: relative;margin-bottom: 15px;">
            <a href="{% url 'new-hood' %}" class="btn btn-sm btn-warning">Add Hood <i style="color:white;" class="fa fa-plus"></i></a>
        </div>
        <div class="row">
            {% for hood in all_hoods %}
            <div class="col-md-4">
                <div class="column">

                    <!-- Post-->
                    <div class="post-module" style="margin: 5px;">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                            {% if request.user.profile.neighbourhood == hood %}
                            <a href="{% url 'leave-hood' hood.id %}">
                            <div style="margin-right: 17.5px;background-color: rgb(244, 118, 73);" class="date">Leave
                            </div></a>
                            <div style="width: 30px;height:30px;background-color: rgb(244, 118, 73);" class="date"> <a
                                    href="{% url 'leave-hood' hood.id %}">
                                    <div id="def" class="day"><i class="fa fa-share-square-o" aria-hidden="true"></i>
                                    </div>
                                </a> </div>
                            {% elif not request.user.profile.neighbourhood %}
                            <a href="{% url 'join-hood' hood.id %}">
                            <div style="margin-right: 14px;" class="date">Join</div></a>
                            <div style="width: 30px;height:30px" class="date"> <a href="{% url 'join-hood' hood.id %}">
                                    <div id="def" class="day"><i id="def" class="fa fa-plus fa-sm"
                                            aria-hidden="true"></i></div>
                                </a> </div>
                            {% endif %}
                            <img src="{{ hood.hood_logo.url }}" class="img-responsive" alt="{{ hood.name }}">
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <div class="category"> Hood {{hood.id}} : {{ hood.name }}</div>
                            <h1 class="title">{{hood.location}}</h1>
                            <h2 class="sub_title">LEAD COORDINATOR</h2>
                            <p class="description">{{hood.description}}</p>
                            <div class="post-meta" style="margin-top:3px;"><span class="comments"><i
                                        class="fa fa-male pull-right"><i class="fa fa-female"></i><a href="#"
                                            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            {{hood.members.count}} member{{hood.members.count|pluralize}}</a></i></span>
                            </div>
                            <div style="margin-top:13px;opacity: 0;">. </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<!--
      footer  start
      ============================= -->
      <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="200ms">
                        <h3>CONTACT <span>INFO</span></h3>
                        <div class="info">
                            <ul>
                                <li>
                                    <h4><i class="fa fa-phone"></i>Telefone</h4>
                                    <p>(000) 123 456 78- (000) 123 4567 89</p>
    
                                </li>
                                <li>
                                    <h4><i class="fa fa-map-marker"></i>Address</h4>
                                    <p>2046 Blue Spruce Lane Laurel Canada</p>
                                </li>
                                <li>
                                    <h4><i class="fa fa-envelope"></i>E mail</h4>
                                    <p>rest@gmail.com - rest@mail.ru</p>
    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="700ms">
                        <h3>LATEST <span>BLOG POSTS</span></h3>
                        <div class="blog">
                            <ul>
                                <li>
                                    <h4><a href="#">Agencies</a></h4>
                                    <p>Public Agencies</p>
                                    <p>Public Agencies Blog</p>
                                </li>
                                <li>
                                    <h4><a href="#">Business</a></h4>
                                    <p>Real Estate</p>
                                    <p>Enterprise</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                        <div class="gallary">
                            <h3>PHOTO <span>STREAM</span></h3>
                            <ul>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo4.jpg" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/houses-and-buildings-clip-art-brick-house-with-dormer-windows-keyPKM-clipart.gif" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo4.png" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo1.jpeg" style="width: 64px;" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="social-media-link">
                            <h3>Follow <span>US</span></h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
          footer-bottom  start
          ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2021 - All Rights Reserved.Design and Developed By <a
                                href="http://www.google.com">Vickie Shiraa</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}