{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/main.css">
</head>



<!--
	header-img start 
	============================== -->
<section id="hero-area">
    <img class="img-responsive" src="/static/images/header2.jpg" alt="">
</section>
<!--
      Header start 
      ============================== -->
<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <img src="/static/images/logo.png" alt="Logo">
                                </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="{% url 'hood' %}">Hoods</a></li>
                                    {% if user.profile.neighbourhood %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My
                                            Hood</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                            <li><a
                                                    href="{% url 'single-hood' user.profile.neighbourhood.id %}">{{user.profile.neighbourhood.name}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My
                                            Hood</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                            <li><a href="">No Hood Yet</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <!-- <li><a href="#footer">Contact</a></li> -->
                                    {% if user.is_authenticated %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" class="text-white" href="/" id="dropdown03"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{user.username|title}}</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
                                            <li><a href="{% url 'edit-profile' user.username %}">Edit Profile</a></li>
                                            <li><a href="{% url 'logout' %}">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li><img style="width: 30;height: 30px;" class="img-circle"
                                            src="{{ user.profile.profile_picture.url }}" alt="">
                                    </li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Log In</a></li>
                                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav><!-- header close -->


<!--
      Slider start
      ============================== -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Top <span>Hoods</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div>
                            <img class="img-responsive" src="/static/images/pool2.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Hera</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool8.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Cielito</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool6.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">C.City</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool14.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">S.City</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool18.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Dagoretti</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool4.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Temps</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool13.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Parkroad</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool7.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="{% url 'hood' %}">Vanilla City</a>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->


     <!--
      about-us start
      ============================== -->
      <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="https://i.pinimg.com/originals/84/15/56/841556cbcbe36961fddec58ed635fec2.gif" alt="cooker-img" style="width:350px;border-radius: 450px;">
                        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms"><span>When Neighbours </span><br>connect<br><span>Good Things Happen </span>
                        </h1>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">The underlying message of the Neighborhood is that if somebody cares about you, it's possible that you'll care about others. 'You are special, and so is your neighbor' - that part is essential: that you're not the only special person in the world. The person you happen to be with at the moment is loved, too.</p>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #call-to-action close -->


<!--
      footer  start
      ============================= -->
<section id="footer">
    <div class="container">
        <div class="row">
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="700ms">
                    <h3>CONTACT<span> INFO</span></h3>
                    <div class="blog">
                        <ul>
                            <li>
                                <h4><i class="fa fa-phone"></i>Telefone</h4>
                                <p>(000) 123 456 78- (000) 123 4567 89</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Address</h4>
                                <p>2046 Blue Spruce Lane Laurel Canada</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>E mail</h4>
                                <p>rest@gmail.com - rest@mail.ru</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="700ms">
                    <h3>LATEST <span>BLOG POSTS</span></h3>
                    <div class="blog">
                        <ul>
                            <li>
                                <h4><a href="#">Agencies</a></h4>
                                <p>Public Agencies</p>
                                <p>Public Agencies Blog</p>
                            </li>
                            <li>
                                <h4><a href="#">Business</a></h4>
                                <p>Real Estate</p>
                                <p>Enterprise</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                    <div class="gallary">
                        <h3>HOOD <span>STREAM</span></h3>
                        <ul>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo4.jpg" style="width: 64px;" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/houses-and-buildings-clip-art-brick-house-with-dormer-windows-keyPKM-clipart.gif" style="width: 64px;" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo4.png" style="width: 64px;" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo1.jpeg" style="width: 64px;" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media-link">
                        <h3>Follow <span>US</span></h3>
                        <ul>
                            <li>
                                <a href="/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->
<!--
          footer-bottom  start
          ============================= -->
<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2021 - All Rights Reserved.Design and Developed By <a
                            href="http://www.google.com">Vickie Shiraa</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}