{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


 <!-- preloader -->
 <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->
 
	<!--
	header-img start 
	============================== -->
    <section id="hero-area">
        <img class="img-responsive" src="/static/images/header.jpg" alt="">
      </section>
      <!--
      Header start 
      ============================== -->
      <nav id="navigation">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="block">
                          <nav class="navbar navbar-default">
                            <div class="container-fluid">
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </button>
                                    <a class="navbar-brand" href="/">
                                      <img src="/static/images/logo.png" alt="Logo">
                                    </a>
  
                              </div>
  
                              <!-- Collect the nav links, forms, and other content for toggling -->
                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="top-nav">
                                  <li><a href="#hero-area">Home</a></li>
                                  <li><a href="#subscribe">Login</a></li>
                                  <li><a href="#about-us">About us</a></li>
                                </ul>
                              </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                          </nav>
                      </div>
                  </div><!-- .col-md-12 close -->
              </div><!-- .row close -->
          </div><!-- .container close -->
      </nav><!-- header close -->
 <!--
      Slider start
      ============================== -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Top <span>Hoods</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div>
                            <img class="img-responsive" src="/static/images/pool2.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Hera</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool8.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Cielito</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool6.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">C.City</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool14.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">S.City</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool18.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Dagoretti</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool4.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Temps</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool13.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Parkroad</a>
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/images/pool7.jpg" alt="">
                            <a style="margin-left:-50px;text-decoration:none;color: coral;" class="text-center" href="#subscribe">Vanilla City</a>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->


 
       <!--
    Login start
    ============================ -->
    <section id="subscribe" style="background-image: url(/static/images/67061820_24.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class=" heading wow fadeInUp text-center" data-wow-duration="300ms" data-wow-delay="300ms"><span> Instantly Connect With Your Neighborhood </span></h1>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">It's where communities come together to greet newcomers, exchange recommendations, and read the latest local news.<br> Where neighbors support local businesses and get updates from public agencies.<br> Where neighbors borrow tools and sell couches.<br> It's how to get the most out of everything nearby.<br> Welcome, Neighbor!</p>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Already part of a community <a class="text-warning" href="{% url 'login' %}"><strong style="font-size: 19px;">Login</strong></a></p>
                        <div class="form-inline">
                            <div class="form-group">
                                <form action="" method="post" novalidate style="color: aliceblue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 25px;">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="input-group-addon"><br>
                                    <button class="btn btn-default">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- #Login close -->

      <!--
      about-us start
      ============================== -->
      <section id="about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="block">
                          <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="/static/images/cooker-img.png" alt="cooker-img">
                          <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms"><span>Stay In Touch With</span><br>Your <br> <span> Neighborhood</span>
                          </h1>
                          <!-- <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p> -->
                          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">It's where communities come together to greet newcomers, exchange recommendations, and read the latest local news.</br> Where neighbors support local businesses and get updates from public agencies. Where neighbors borrow tools and sell couches.</br> It's how to get the most out of everything nearby. Welcome, neighbor.</p>
                      </div>
                  </div><!-- .col-md-12 close -->
              </div><!-- .row close -->
          </div><!-- .containe close -->
      </section><!-- #call-to-action close -->
  
      <!--
      footer  start
      ============================= -->
      <section id="footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="block wow fadeInLeft"  data-wow-delay="200ms">
                          <h3>CONTACT <span>INFO</span></h3>
                          <div class="info">
                              <ul>
                                  <li>
                                    <h4><i class="fa fa-phone"></i>Telefone</h4>
                                    <p>(000) 123 456 78- (000) 123 4567 89</p>
                                      
                                  </li>
                                  <li>
                                    <h4><i class="fa fa-map-marker"></i>Address</h4>
                                    <p>2046 Blue Spruce Lane Laurel Canada</p>
                                  </li>
                                  <li>
                                    <h4><i class="fa fa-envelope"></i>E mail</h4>
                                    <p>rest@gmail.com - rest@mail.ru</p>
                                    
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- .col-md-4 close -->
                  <div class="col-md-4">
                      <div class="block wow fadeInLeft"  data-wow-delay="700ms">
                          <h3>LATEST <span>BLOG POSTS</span></h3>
                          <div class="blog">
                              <ul>
                                  <li>
                                      <h4><a href="#">Agencies</a></h4>
                                      <p>Public Agencies</p>
                                      <p>Public Agencies Blog</p>
                                  </li>
                                  <li>
                                      <h4><a href="#">Business</a></h4>
                                      <p>Real Estate</p>
                                      <p>Enterprise</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>
                                  </li>
                              </ul>                
                          </div>
                      </div>
                  </div>
                  <!-- .col-md-4 close -->
                  <div class="col-md-4">
                      <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
                          <div class="gallary">
                              <h3>PHOTO <span>STREAM</span></h3>
                              <ul>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo4.jpg" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/houses-and-buildings-clip-art-brick-house-with-dormer-windows-keyPKM-clipart.gif" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo4.png" style="width: 64px;" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/images/photo/photo1.jpeg" style="width: 64px;" alt=""></a>
                                </li>
                              </ul>
                          </div>
                          <div class="social-media-link">
                              <h3>Follow <span>US</span></h3>
                              <ul>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-behance"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- .col-md-4 close -->
              </div><!-- .row close -->
          </div><!-- .containe close -->
      </section><!-- #footer close -->
      <!--
      footer-bottom  start
      ============================= -->
      <footer id="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12">
                      <div class="block">
                          <p>Copyright &copy; 2021 - All Rights Reserved.Design and Developed By <a href="http://www..com">Vickie Shiraa</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>


{% endblock %}